body {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 20% 70% 10%;
	grid-template-areas:
		"d1 d1 d1"
		"d2 d3 d4"
		"d5 d5 d5";
	font-family: Arial;
}

#div_navigator {
	background-color: SlateGrey;
	grid-area: d1;
	text-align: center;
}

#div_left {
	background-color: LightSlateGrey;
	grid-area: d2;
}

#div_text {
	background-color: SlateGrey;
	grid-area: d3;
}

#div_right {
	background-color: LightSlateGrey;
	grid-area: d4;
}

#div_bottom {
	background-color: black;
	grid-area: d5;
}

#head_line {
	color: white;
	-webkit-text-stroke: 1px black;
}

button {
	background-color: Crimson;
	border: 1px solid black;
	border-radius: 10px;
	
}

button:hover {
	background-color: #CC042C;
}

#div_navigator button {
	width: 10%;
	height: 20%;
	margin-left: 3%;
}

#div_text {
	text-align: center;
}