body {
    background-color: #292c33;
    width: 100vw;
    height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Roboto,sans-serif;
}

#d_upper {
	width: 100%;
	height: 10%;
	background-color: #41807c;
}

#svg_back {
	width: 100vw;
	height: 10vh;
}

#d_lower {
	width: 100%;
	height: 90%;
}

#if_mobile {
	width: 90%;
	height: 80%;
	margin-top: 5%;
	margin-left: 5%;
}